* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2b6777;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: #2b6777;
  color: #f2f2f2;
  font-size: xx-large;
}
ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.banner {
  margin-bottom: 20px;
  object-fit: cover;
  object-position: top;
  height: 120px;
}

h2 {
  margin-bottom: 50px;
}

.welcome-text {
  padding-left: 50px;
  padding-right: 40px;
  margin-bottom: 50px;
  font-size: 20px;
  color: #f2f2f2;
}

.projects {
  margin-left: 50px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border: 5px solid #f2f2f2;
}

.projects2 {
  width: 98%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border: 5px solid #f2f2f2;
}

.moviez {
  width: 95%;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

.my-work,
.about-me {
  border-right: 0.2rem solid #f2f2f2;
  /*font-size: 45px;*/
  color: #f2f2f2;
}

.readme {
  width: 87%;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
  margin-top: 35px;
  font-size: x-large;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

.email {
  padding-right: 30px;
}

.me {
  padding-left: 30px;
}

.languages {
  font-weight: bold;
  font-size: 25px;
}

@media screen and (min-width: 500px) {
  footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 35px;
    font-size: 15px;
    width: 100%;
  }

  .moviez {
    width: 89%;
    height: 150px;
    object-fit: cover;
    object-position: top;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #2b6777;
    color: #f2f2f2;
    font-size: 20px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 330px;
  }
}

@media screen and (min-width: 640px) {
  /* Apply some styles */
  .moviez {
    width: 89%;
    height: 150px;
    object-fit: cover;
    object-position: top;
  }

  .projects {
    margin-left: 25px;
  }

  .projects2 {
    width: 82%;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border: 5px solid #f2f2f2;
  }

  footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: 35px;
    font-size: 15px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #2b6777;
    color: #f2f2f2;
    font-size: 20px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 330px;
  }
}

@media screen and (min-width: 768px) {
  .moviez {
    width: 89%;
    height: 150px;
    object-fit: cover;
    object-position: top;
  }
}

@media screen and (min-width: 1024px) {
  .moviez {
    width: 92%;
    height: 150px;
    object-fit: cover;
    object-position: top;
  }
}
